hmtl,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 8fr 2fr;
    grid-template-areas: "header header" "main main" "footer footer";
}

header {
    background: #FFFFFF;
    display: grid;
    width: 100%;
    height: 100%;
    grid-area: header;
}

.containerHeader {
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.divInput i {
    position: absolute;
}

.divInput {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.iconePesquisa {
    color: #7F8080;
    padding-left: 130px;
    padding-top: 32px;
    min-width: 10px;
}

.inputPesquisa {
    width: 596px;
    height: 42px;
    padding-left: 50px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    color: #575757;
    background-color: #FAFCFD;
    border-color: #E2EAF0;
    border-width: thin;
}

::placeholder {
    color: #8995a0;
}

.blackFridayImagem {
    width: 170px;
    height: 32px;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 15px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: #575757;
}

li a {
    float: left;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: #575757;
}

li a:hover {
    color: #47A2FF;
}

.iconeWifi {
    color: #575757;
}

.iconeWifi:hover {
    color: #47A2FF;
}

.fonteTeste {
    color: #575757;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding-left: 7px;
}

.fonteTeste:hover {
    color: #47A2FF;
}

.main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
}

main {
    background: #FFFFFF;
    grid-area: main;
}

.noticiaDestaqueMaior {
    display: grid;
    grid-row: 1/4;
    grid-column-start: 1/3;
    background: #FFFFFF;
    grid-template-rows: 8fr 1fr 2fr;
}

.divImagemNoticiaDestaqueMaior {
    display: grid;
    grid-row: 1/2;
    align-items: center;
    justify-items: center;
    background: #FFFFFF;
}

.imagemNoticiaDestaqueMaior {
    width: 704px;
    height: 288px;
    border-radius: 3%;
}

.subtituloNoticiaMaior {
    font-family: Arial;
    color: #1087FF;
    font-weight: lighter;
    padding-left: 60px;
    padding-top: 10px;
}

.tituloNoticiaMaior {
    font-family: Arial;
    font-size: 30px;
    padding-left: 60px;
    font-weight: bold;
}

.noticiaDestaque1 {
    display: grid;
    grid-row: 1/2;
    grid-column-start: 3/4;
    background: #FFFFFF;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 25px;
}

.imagemNoticiaDestaque {
    width: 164px;
    height: 118px;
    border-radius: 5%;
    grid-row: 1/3;
}

.subtituloNoticiaDestaque {
    display: grid;
    font-family: Arial;
    align-self: end;
    color: #1087FF;
    font-weight: lighter;
}

.tituloNoticiaDestaque {
    display: grid;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    align-self: start;
    padding-top: 10px;
}

.noticiaDestaque2 {
    display: grid;
    grid-row: 2/3;
    grid-column-start: 3/4;
    background: #FFFFFF;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 25px;
}

.noticiaDestaque3 {
    display: grid;
    grid-row: 3/4;
    grid-column-start: 3/4;
    background: #FFFFFF;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 25px;
}

footer {
    background: yellow;
    grid-area: footer;
}