hmtl,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 8fr 2fr;
    grid-template-areas: "header header" "main main" "footer footer";
}

header {
    background: #FFFFFF;
    display: grid;
    width: 100%;
    height: 100%;
    grid-area: header;
}

.containerHeader {
    display: grid;
    width: 100%;
    height: 100px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.divInput i {
    position: absolute;
}

.divInput {
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.iconePesquisa {
    color: #7F8080;
    padding-left: 130px;
    padding-top: 32px;
    min-width: 10px;
}

.inputPesquisa {
    width: 596px;
    height: 42px;
    padding-left: 50px;
    margin-top: 20px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    color: #575757;
    background-color: #FAFCFD;
    border-color: #E2EAF0;
    border-width: thin;
}

::placeholder {
    color: #8995a0;
}

.blackFridayImagem {
    width: 170px;
    height: 32px;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 3;
}

.menuPrincipal {
    list-style-type: none;
    display: flex;
}

.liMenuPrincipal {
    padding: 15px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: #575757;
}

.liMenuPrincipal a {
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: #575757;
}

.liMenuPrincipal a:hover {
    color: #47A2FF;
}

.iconeWifi {
    color: #575757;
}

.iconeWifi:hover {
    color: #47A2FF;
}

.fonteTeste {
    color: #575757;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding-left: 7px;
}

.fonteTeste:hover {
    color: #47A2FF;
}

.main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
}

main {
    background: #FFFFFF;
    grid-area: main;
}

.noticiaDestaqueMaior {
    display: grid;
    grid-row: 1/4;
    grid-column-start: 1/3;
    background: #FFFFFF;
    grid-template-rows: 8fr 1fr 2fr;
}

.divImagemNoticiaDestaqueMaior {
    display: grid;
    grid-row: 1/2;
    align-items: center;
    justify-items: center;
    background: #FFFFFF;
}

.imagemNoticiaDestaqueMaior {
    width: 704px;
    height: 288px;
    border-radius: 3%;
}

.subtituloNoticiaMaior {
    font-family: Arial;
    color: #1086FE;
    font-weight: lighter;
    padding-left: 60px;
    padding-top: 10px;
}

.tituloNoticiaMaior {
    font-family: Arial;
    font-size: 30px;
    padding-left: 60px;
    font-weight: bold;
}

.tituloNoticiaMaior a {
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.tituloNoticiaMaior a:hover {
    color: #1087FF;
}

.noticiaDestaque1 {
    display: grid;
    grid-row: 1/2;
    grid-column-start: 3/4;
    background: #FFFFFF;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 25px;
}

.imagemNoticiaDestaque {
    width: 164px;
    height: 118px;
    border-radius: 5%;
    grid-row: 1/3;
}

.subtituloNoticiaDestaque {
    display: grid;
    font-family: Arial;
    align-self: end;
    color: #1086FE;
    font-weight: lighter;
}

.tituloNoticiaDestaque {
    display: grid;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    align-self: start;
    padding-top: 10px;
}

.tituloNoticiaDestaque a {
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.tituloNoticiaDestaque a:hover {
    color: #1087FF;
}

.noticiaDestaque2 {
    display: grid;
    grid-row: 2/3;
    grid-column-start: 3/4;
    background: #FFFFFF;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 25px;
}

.noticiaDestaque3 {
    display: grid;
    grid-row: 3/4;
    grid-column-start: 3/4;
    background: #FFFFFF;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 25px;
}

footer {
    grid-area: footer;
}

.containerFooter {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 6fr 3fr 2fr;
    grid-template-areas: "TM1 . . . TM2 TM3" "M1 M2 M3 M4 M5 M6" "LNZN MI1 MI1 MI1 MI1 PT" "MI2 MI2 MI2 MI2 MI2 MI2";
    background: #F6F8FA;
}

.divTituloMenu1 {
    display: grid;
    grid-area: TM1;
    justify-items: center;
    align-items: center;
    font-family: Arial;
    color: #414141;
    font-weight: bold;
    font-size: 18px;
}

.divTituloMenu2 {
    display: grid;
    grid-area: TM2;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    color: #414141;
    font-weight: bold;
    font-size: 18px;
}

.divTituloMenu3 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: TM3;
    font-size: 18px;
}

.tituloCupons a {
    font-family: Arial;
    color: #414141;
    text-decoration: none;
    font-weight: bold;
}

.tituloCupons a:hover {
    color: black;
}

.menuLine {
    list-style-type: none;
}

.menuLine a {
    list-style-type: none;
    font-family: Arial;
    text-decoration: none;
    color: #414141;
}

.menuLine a:hover {
    color: black;
}

.divMenu1 {
    display: grid;
    grid-area: M1;
    justify-items: space-between;
    font-family: Arial;
    color: #414141;
}

.divMenu2 {
    display: grid;
    grid-area: M2;
    justify-items: space-between;
    font-family: Arial;
    color: #414141;
}

.divMenu3 {
    display: grid;
    grid-area: M3;
    justify-items: space-between;
    font-family: Arial;
    color: #414141;
}

.divMenu4 {
    display: grid;
    grid-area: M4;
    justify-items: space-between;
    font-family: Arial;
    color: #414141;
}

.divMenu5 {
    display: grid;
    grid-area: M5;
    justify-items: space-between;
    font-family: Arial;
    color: #414141;
}

.divMenu6 {
    display: grid;
    grid-area: M6;
    justify-items: space-between;
    font-family: Arial;
    color: #414141;
}

.divLogoNZN {
    display: grid;
    grid-area: LNZN;
    justify-items: center;
    align-items: center;
    background: #E8ECEF;
}

.divMenuInline1 {
    display: grid;
    grid-area: MI1;
    justify-items: center;
    align-items: center;
    font-family: Arial;
    background: #E8ECEF;
}

.listaInline1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
    display: flex;
}

.liListaInline a {
    padding: 15px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

.liListaInline a:hover {
    color: #1087FF;
}

.divPatente {
    display: grid;
    grid-area: PT;
    justify-items: end;
    align-items: center;
    font-family: Arial;
    background: #E8ECEF;
    row-gap: 5px;
}

.patenteLinha1 {
    font-weight: bold;
    font-size: 9px;
    display: grid;
    align-self: end;
}

.patenteLinha2 {
    font-size: 10px;
    display: grid;
    align-self: start;
}

.divMenuInline2 {
    grid-area: MI2;
    font-family: Arial;
    display: grid;
    align-items: center;
    background: #E8ECEF;
    justify-content: space-evenly;
}

.listaInline2 {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
}

.liListaInline2 a {
    padding: 15px;
    font-size: 15px;
    font-family: Arial;
    text-decoration: none;
    color: black;
    font-family: Arial;
}

.liListaInline2 a:hover {
    color: #1087FF;
}