hmtl, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
}

.container{
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 8fr 1fr;
  grid-template-areas: "header header"
                       "main aside"
                       "footer footer" 
}
  
header{
  background: #FFFFFF;
  display: grid;
  width: 100%;
  height: 100%;
  grid-area: header;
}

.containerHeader{
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 1fr;

  justify-items: center;
  align-items: center;
  box-shadow: 1px 2px 5px #EBEBEB;
}

.divInput i{
  position: absolute;
}

.divInput{
  width: 100%; 
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.iconePesquisa{
  color: #7F8080;
  padding-left: 130px;
  padding-top: 32px;
  min-width: 10px;
}

.inputPesquisa{
  width: 596px;
  height: 42px;
  padding-left: 50px;
  margin-top: 20px;
  border-style: solid;
  border-radius: 5px;
  font-size: 14px;
  color: #575757;
  background-color: #FAFCFD;
  border-color: #E2EAF0;
  border-width: thin;
}

::placeholder {
  color: #8995a0;
}

.blackFridayImagem{
  width: 170px;
  height: 32px;
}

.menu{
  grid-column-start: 1;
  grid-column-end: 3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 10px;
  font-family: Arial;
  font-weight: bold;
  color: #575757;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

main{
  background: red;
  grid-area: main;
}
  
aside{
  background: green;
  grid-area: aside;
}
  
footer{
  background: yellow;
  grid-area: footer;
}
  
